*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

input,
textarea,
[contenteditable='true'] {
  cursor: text;
}

body {
  color: var(--color-text);
  font-family: var(--font-display);
  -webkit-font-smoothing: antialiased;
}
